name: CI/CD Pipeline
on:
  push:
    branches: ["master", "dev"]

jobs:
  build_job:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17
        env:
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
          POSTGRES_DB: test_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    if: github.ref == 'refs/heads/dev'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Installing dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Create .env.test file
        run: |
          echo "TEST_DATABASE_URL=postgresql+asyncpg://test_user:test_password@localhost:5432/test_db" >> .env.test
          echo "TEST_REDIS_URL=redis://localhost:6379/0" >> .env.test

      - name: Check prod with linters
        run: |
          isort --check .
          black --check .
          flake8 .

      - name: Check prod with pytest
        env:
          DATABASE_URL: "postgresql+asyncpg://test_user:test_password@localhost:5432/test_db"
          REDIS_URL: "redis://:test_password@localhost:6379/1"
        run: pytest

  deploy_job:
    needs: build_job
    runs-on: self-hosted
    if: github.ref == 'refs/heads/master'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create .env file
        run: |
          echo "POSTGRES_USER=${{ secrets.POSTGRES_USER }}" >> .env
          echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> .env
          echo "POSTGRES_DB=${{ secrets.POSTGRES_DB }}" >> .env
          echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> .env
          
          echo "REDIS_PASSWORD=${{ secrets.REDIS_PASSWORD }}" >> .env
          echo "REDIS_DB=${{ secrets.REDIS_DB }}" >> .env
          echo "REDIS_URL=${{ secrets.REDIS_URL }}" >> .env

      - name: Stops all containers
        run: docker compose down

      - name: Build docker compose
        run: docker compose up --build -d

      - name: Wait for loading database
        run: sleep 10

      - name: Update alembic head
        run: docker compose exec web alembic upgrade head